*
{
    font-family: sans-serif;
    
}
a
{
    text-decoration:none; 
}
    .box
    {
        border-radius: 25px;
        width: 240px;
        height: 240px;
    }

    .container
    {
       position: relative;
       display: flex;
       height: 100vh;
       width: 100%;
       justify-content: center;
       align-items: center;
    }
    .boxes
    {
        background-color: rgb(135, 194, 194);
        margin: 10px;
    }
    .ContainerRules
    {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        position: relative;
        left: 3%;
    }
    .RuleTittle
    {
        display: flex;
        flex-wrap: wrap;
        /*height: 10em;
        border-radius: 25px;
        background-color: rgb(135, 194, 194);
        margin-bottom: 10px;
        width: 70%;
        position: relative;
        left: 15%; */
    }
    .BoxTxt
    {
        position: relative;
        text-align: center;
        top: 40%;
        transform: translateY(-50%);
    }
    .twentyfive
    {
        border-radius: 25px;
        background-color: rgb(135, 194, 194);
        margin:10px 5px;
        width: 20%;
        height: 10em;
        position: relative;
        left: 8%;
    }
    .MiniText
    {
        text-align: center;
        color: #fff;
    }

.darkblue
{
    background-color:rgb(122, 122, 151);
}
.lightblue
{
    background-color:lightblue;
}
.red
{
    background-color:rgb(207, 157, 157);
}
.green
{
    background-color: rgb(167, 175, 155);
}
.orange
{
    background-color:rgb(168, 145, 101);
}
.tittle
{
    text-align: center;
    padding: 70px 0;
}


#target-box{
    border-radius: 10%;
    width: 95%;
    height: 780px;
    background-color: darkolivegreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -39%);
    border: 5px dotted #fff;
  }
  #post
  {
    width: 750px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  #target{
    /* background-color: #f30f4f; */
    width: 50px;
    height: 50px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transform-origin: 25px 25px; 
    transition: all 0.8s ease-in-out;
  }
  

@media screen and (max-width: 2000px) 
{ /*screen with > 2000px*/
    body 
    {
    background-color: rgb(154, 206, 65);
    }
    .eighty
    {
        border-radius: 25px;
        height: 10em;
        width: 70%;
    }
    .twenty
    {
        border-radius: 25px;
        height: 10em;
        width: 20%;
    }
}

@media screen and (max-width: 1440px) 
{ /*screen with > 1440px*/
    body 
    {
    background-color: darkolivegreen;
    }
    #target-box
    {
        width: 95%;
        height: 750px;
    }
    #post
    {
        width: 60%;
        height: 60%;
    }
    .BoxTxt
    {
        font-size: larger;
    }

}
@media screen and (max-width: 720px) 
{ /*screen with < 720px*/
    body 
    {
      background-color: gold;
    }
    .box
    {
        width: 50%;
        
    }
    .container{
        flex-wrap: wrap;
    }
    .BoxTxt
    {
        font-size:medium;
    }
    #post
    {
        width: 60%;
        height: 50%;
    }
}
@media screen and (max-width: 540px) 
{ /*screen with < 540px*/
    body 
    {
    background-color: blue;
    }
    .box
    {
        width: 100%;
        height: 10em;
    }
    .BoxTxt
    {
        font-size:large;
    }
    #post
    {
        width: 60%;
        height: 40%;
    }
}

